---
---
<section id="bigcta">
  <a href="#contact" class="bigcta-link">
    <span class="eyebrow bigcta-eyebrow fu">Have an idea?</span>
    <div class="bigcta-txt fu fd1">Let's build something<br>that <em>thinks</em>.</div>
    <div class="bigcta-sub fu fd2"><div class="hero-label-dot"></div>Currently taking on new projects</div>
  </a>
</section>
